.header{
    
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(173, 247, 14, 0.582);
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.logo{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}
.header li{
  
    text-align: center;
    margin-left: 3rem;
  
}
.header li:hover {
  
    transition: 0.5s;
    background-color: yellow;
}

.header a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(237, 90, 16);
    
}
.header a:hover,
.header a:active,
.header a.active {
  
    transition: 0.5s;
    color:rgb(198, 35, 223);
}

.badge{
    background-color: red;
    color: wheat;
    border-radius: 12px;
    padding:  0 1rem;
    margin-left: 0.5rem;
}